.App {
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.App-header {
  background-color: #f4f4f4;
  padding: 40px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App h1 {
  color: #ffc107; /* Yellow color */
  margin-bottom: 20px;
}
